.mainWrapper {
  margin-top: 10vh;
}


.stakeStatWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.stakeButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
