:root { 
    --color_background-100: #0d131c; 
    --color_white: #fff; 
    --color_blue: #2283f6; 
} 

.button-3d[data-2] { 
    align-items: center; 
    cursor: pointer; 
    display: inline-block; 
    padding: 0; 
    position: relative; 
    text-align: center; 
    text-decoration: none; 
    white-space: nowrap;
  } 
  
  .button-3d_md.button-3d[data-2] { 
    font-size: 14px; 
    padding-bottom: 4px;
  } 
  
  *,:after,:before { 
    background-repeat: no-repeat; 
    box-sizing: border-box;
  } 
  
  :after,:before { 
    text-decoration: inherit; 
    vertical-align: inherit;
  } 
  
  .button-3d[data-1],.button-3d[data-2]:after { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
  } 
  
  .button-3d[data-2]:after { 
    bottom: 0; 
    content: ""; 
    display: block; 
    left: 0; 
    pointer-events: none; 
    position: absolute; 
    right: 0; 
    z-index: 0;
  } 
  
  .button-3d_red.button-3d[data-2]:after { 
    background-color: #003293;
  } 
  
  .button-3d_md.button-3d[data-2]:after { 
    border-radius: 10px; 
    height: 44px;
  } 
  
  :selection { 
    background-color: var(--color_blue); 
    color: var(--color_white);
  } 
  
  .button-3d__outer[data-2] { 
    display: block; 
    height: 100%; 
    position: relative; 
    transition: transform .1s ease-in-out; 
    width: 100%; 
    z-index: 1;
  } 
  
  .button-3d__outer[data-2]  { 
    background: linear-gradient(1turn,#0c5eff .8%,#1398f9); 
    box-shadow: 0 3px 16px #2283f666,inset 0 4px 3px #ffffff4d;
  } 
  
  .button-3d__outer[data-2]  { 
    border-radius: 10px;
  } 
  
  .button-3d_md:not(.button-3d_only-icon) .button-3d__outer[data-2]  { 
    padding: 10px 32px;
  } 
  
  .button-3d_red.button-3d:hover .button-3d__outer[data-2] { 
    background: linear-gradient(1turn,#236eff .8%,#34a7fb); 
    box-shadow: 0 3px 20px #2283f699,inset 0 4px 4px #ffffff5e;
  } 
  
  .button-3d_md.button-3d:hover .button-3d__outer[data-2] { 
    transform: translateY(-2px);
  } 
  
  .button-3d__inner[data-2] { 
    height: 100%; 
    width: 100%;
  } 
  
  .button-3d__inner[data-2] { 
    align-items: center; 
    display: flex; 
    justify-content: center;
  } 
  
  .button-3d__inner[data-2]  { 
    justify-content: center;
  } 
  
  .button-3d__text[data-2] { 
    overflow-x: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
  } 
  
  .button-3d__text[data-2] { 
    color: var(--color_white); 
    font-variant-numeric: lining-nums tabular-nums; 
    font-weight: 600;
  } 
  
  .button-3d__text[data-2]  { 
    font-size: 14px; 
    letter-spacing: -.28px; 
    line-height: 24px;
  } 
  